.content {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

body {
  font-family: "Helvetica Neue";
}
h2 {
  position: relative;
  left: -72px;
  color: #FFFFFF;
  opacity: 0;
}

p {
  position: relative;
  float: left;
  font-size: 10px;
  color: #f38630; 
  opacity: 0;   
}

li {
  display: none;
}

.box { 
  background-color: #f38630;
  position: absolute;
  height: 50%;
  width: 100%;
  bottom: 51%;
  right: 0.05%;
}

.button {
position: relative;
padding: 2px 7px 3px;
font-size: 11px;
background-color: #f38630;
color: #ffffff;
border-radius: 3px;
border: 1px solid #f38630;
cursor: pointer;
width: 60px;
left: 6px;
}


#number {
  width: 180px;
  float: left;
}



